form{
	width:645px;
	height: 450px;
	margin: 41px auto 0px;
	font-size: 16px;
}
p{
	margin-top: 35px;
}
.p1{
	margin-left: 210px;
	margin-bottom: 56px;
}
.over{
	display: inline-block;
	position: relative;
	left:22px;
	top:5px;
}
input{
	width:240px;
	height: 33px;
	border:1px solid #aaa;
	margin-left: 31px;
	text-indent: 20px;
}
#btn{
	display: inline-block;
	border: none;
	width:127px;
	height: 31px;
	margin-left: 20px;
	background: #ff6549;
	color:#fff;
	font-size: 12px;
	line-height: 31px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	text-indent: 0px;
}
.iptName1{
	margin-left: 2em;
}
.iptName2{
	margin-left: 3em;
}
.hideSpan{
	display: inline-block;
	height: 31px;
	background: #ff6549;
	color:#fff;
	font-size: 12px;
	line-height: 31px;
	text-align: center;
	border-radius: 5px;
}
.yzm{
	width:106px;
	margin-left: 22px;
	cursor: pointer;
}
.yzsj{
	width:127px;
	margin-left: 12px;
}
.submit{
	display: block;
	border: none;
	width:140px;
	height: 38px;
	margin: 85px 0px 0px 160px;
	background: #ff6549;
	border-radius: 5px;
	color:#fff;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	text-indent: 0px;
}









var s = 60, t;
function times(){
 s--;
document.form.time.value = s;
t = setTimeout('times', 1000);
if ( s <= 0 ){
 s = 60;
 clearTimeout(t);
}
}
 
times();